<button class="flex flex-col flex-shrink-0 items-start h-full rounded-xl w-36 justify-start bg-gray-200 border-2 border-gray-400 dark:border-gray-600 dark:bg-gray-800 h-full" type="button" onclick="toggleDrawer('{{user.id}}')">
    <img class="rounded-xl w-auto p-1" src="{{user.profile_image.file.url}}">
    <p class="text-sm font-semibold text-gray-900 dark:text-white px-2">{{user.name}}</p>
    {% for service in user.services.all %}
    <p class="text-xs font-normal text-gray-700 text-left dark:text-gray-200 px-2">
        {{ service.locality.place_name }}, {{ service.locality.state_code }}
    </p>
    <p class="text-xs font-normal text-gray-800 text-left dark:text-gray-300 px-2 pb-2">
        {{ service.service_type }}<br>${{ service.rate }}/hr
    </p>
    {% endfor %}    <!--<p class="text-sm font-normal border-0 text-gray-600 text-left dark:text-gray-300">Fitness Trainer, Resume Consultant</p>-->
</button>
<button class="flex flex-col flex-shrink-0 items-start h-full rounded-xl w-36 justify-start bg-gray-200 border-2 border-gray-400 dark:border-gray-600 dark:bg-gray-800 h-full" type="button" onclick="toggleDrawer('{{user.id}}')">
    <img class="rounded-xl w-auto p-1" src="{{user.profile_image.file.url}}">
    <p class="text-sm font-semibold text-gray-900 dark:text-white px-2">{{user.name}}</p>
    {% for service in user.services.all %}
    <p class="text-xs font-normal text-gray-700 text-left dark:text-gray-200 px-2">
        {{ service.locality.place_name }}, {{ service.locality.state_code }}
    </p>
    <p class="text-xs font-normal text-gray-800 text-left dark:text-gray-300 px-2 pb-2">
        {{ service.service_type }}<br>${{ service.rate }}/hr
    </p>
    {% endfor %}    <!--<p class="text-sm font-normal border-0 text-gray-600 text-left dark:text-gray-300">Fitness Trainer, Resume Consultant</p>-->
</button>
<button class="flex flex-col flex-shrink-0 items-start h-full rounded-xl w-36 justify-start bg-gray-200 border-2 border-gray-400 dark:border-gray-600 dark:bg-gray-800 h-full" type="button" onclick="toggleDrawer('{{user.id}}')">
    <img class="rounded-xl w-auto p-1" src="{{user.profile_image.file.url}}">
    <p class="text-sm font-semibold text-gray-900 dark:text-white px-2">{{user.name}}</p>
    {% for service in user.services.all %}
    <p class="text-xs font-normal text-gray-700 text-left dark:text-gray-200 px-2">
        {{ service.locality.place_name }}, {{ service.locality.state_code }}
    </p>
    <p class="text-xs font-normal text-gray-800 text-left dark:text-gray-300 px-2 pb-2">
        {{ service.service_type }}<br>${{ service.rate }}/hr
    </p>
    {% endfor %}    <!--<p class="text-sm font-normal border-0 text-gray-600 text-left dark:text-gray-300">Fitness Trainer, Resume Consultant</p>-->
</button>
